*{
	box-sizing: border-box;
}
h1{
	text-align:right;
	font-family: "Bungee-Inline", cursive;
	 font-weight:100;
  	font-style:italics;
 	 text-decoration:underline;
}
h2{
	text-align:left;
	font-weight:200;
	font-family: "Langar", cursive;
}
h3{
	text-decoration:underline;
}
body{
	background-image: linear-gradient(to bottom right, mediumorchid,royalblue,cornflowerblue);
}
.banner{
  margin:30px;
  padding:20px;
  height:200px;
  border: 10px solid #ffffff;
 box-shadow: 5px 2px 5px 5px #ddfddd;
}
.nav{
   display: flex; justify-content: center; align-items: center;
}
#logo{
	width:75px;
	top:50px;
	right:150px;
	position: absolute;
}
	
ul{
   list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:DEB8FA;
  }
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color:CornflowerBlue;
  text-align:center;
  padding:12px 14px;
}
.container{
	border:3px,black;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 8000px;
	overflow: hidden;
}
